<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office" style="font-family:arial, 'helvetica neue', helvetica, sans-serif">
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <meta name="x-apple-disable-message-reformatting">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="telephone=no" name="format-detection">
        <title>Confrim Email | Inventos</title>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    </head>
    <body style="width:100%;font-family:arial, 'helvetica neue', helvetica, sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;padding:0;Margin:0">
        <table style="margin: 0 auto; text-align: center;">
            <tr>
                <td style="text-align: left;">
                <img width="200" height="50" style="margin:15px; text-align: left;" src="" alt="Logo">
                </td>
            </tr>
            <tr>
                <td style="text-align: center; margin-top: 10px;">
                    <img width="320" height="320" src="https://res.cloudinary.com/dagzd3ntq/image/upload/v1717437023/vaxnvwwwhokwchrkbtff.png" alt="Image Of Email Confirmation">
                    <h1 style="margin-top: -5px;">Confirm your email address</h1>
                </td>
            </tr>
            <tr>
            <td style="text-align: center;">
                <h4>Thanks for joining Inventos</h4>
                <p>To finish signing up your Store <span style="font-weight: bold; color: #50B426;">Store Name</span>, please confirm your Store.</p>
                <a href={{verificationLink}} style="text-decoration:none;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;color:#FFFFFF;font-size:16px;border-style:solid;border-color:#50B426;;border-width:15px 35px 15px 35px;display: block; background:#50B426;;border-radius:30px;font-family:Poppins, sans-serif;font-weight:normal;font-style:normal;line-height:19px;width:200px;text-align:center; margin: 0 auto; margin-top: 20px;">Confirm Store</a>
                <div style="font-size: 9px; margin-top: 5px;">This link is only valid for 24 hours, After link expiration you have to sign up again.</div>
            </td>
            </tr>
            <tr style="text-align: center;">
                <td>
                    <p style="font-size: 12px; margin: 10px 15px;">If you have any questions, please <a href={{contactUsLink}}>Contact Us</a>.
                    They can answer questions about your account or help you with your issue.</p>
                </td>
            </tr>
            <tr>
                <td style="background-color: #50B426; padding: 10px 0px; font-size: 15px;">
                    <a href={{privacyPolicyLink}} style="margin-right: 5px; color: #f0f0f0; text-decoration: none;">Privacy policy</a>|<a href={{termsOfServicesLink}} style=" margin-right: 5px;margin-left: 5px; color: #f0f0f0;text-decoration: none;">Terms of services</a>
                    <div style="color:#f0f0f0; margin-top: 10px; font-size: 12px;">You have received this email as registered Store of inventos.com</div>
                    <div style="color:#f0f0f0; margin-top:15px;">© Inventos - All right reserved</div>
                </td>
            </tr>
        </table>
    </body>
</html>